<!-- Add you custom twig html here -->
{{ 'Your email successfully sent with next data:' | t }}<br>
{{ 'Email: @recipient'|t({ '@recipient': recipient }) }}<br>
{{ 'Subject: @subject'|t({ '@subject': subject }) }}<br>
{{ 'Body: !body'|t({ '@body': body }) }}
